@using ASPTableEditor.Models
@model List<Employee>

<h1>Employee List</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Name</td>
                <td>
                    <button onclick="location.href='@Url.Action("EmployeeItemView", "Home")?id=@employee.Id'" class="btn btn-primary">View</button>
                </td>
                <td>
                    <button onclick="location.href='@Url.Action("EmployeeItemEdit", "Home")?id=@employee.Id'" class="btn btn-primary">Edit</button>
                </td>
                <td>
                    <button onclick="location.href='@Url.Action("EmployeeItemRemove", "Home")?id=@employee.Id'" class="btn btn-primary">Remove</button>
                </td>
            </tr>
        }
    </tbody>
</table>