@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="post" asp-controller="Home" asp-action="ImportTable">
    <button type="submit" class="btn btn-primary">Update</button>
</form>

@if (TempData["Message"] != null)
{
    <script class="alert alert-success">
        alert('@TempData["Message"]');
    </script>
}